#
# Keep this for remote linting e.g., by GitHub
#
[flake8]
max-line-length = 140
# W291: Trailing whitespace
# W293: Blank line contains whitespace
# W504: Line break occurred after a binary operator
# E302: Expected 2 blank lines, found 0
# W292: No newline at end of file
# E127: Continuation line over-indented for visual indent
# E402: Module level import not at top of file
# E305: Expected 2 blank lines after class or function definition
ignore = W291,W293,W504,E302,W292,E127,E402,E305
