.env
.vscode/*.json
.venv
.venv/*
__pycache__
__pycache__/*
# mcp
# mcp/*
configs
configs/*
logs
logs/*
*.egg-info
*.egg-info/*
.aider*
flake8_issues.txt
*.swp
.env.swp
.gitignore.swp
uv.lock
.cursorrules
proposal/*
notebooks/*
memory-bank/*
.coverage
local_executor
**/.claude/settings.local.json
.mypy_cache
