# aisuite[OpenAI, Anthropic, Azure, Google, AWS, Groq, Mistral, HuggingFace, Ollama, Sambanova, Watsonx]
aisuite[openai,anthropic,azure,google,groq,huggingface,ollama]
aiohttp
matplotlib
mcp
openai
pandas
pytest
pytest-asyncio
pytest-mock
python-dotenv
pyyaml
seaborn
structlog
websockets
nest-asyncio
