# aisuite[OpenAI, Anthropic, Azure, Google, AWS, Groq, Mistral, HuggingFace, Ollama, Sambanova, Watsonx]
aiohttp
aisuite[openai,anthropic,azure,google,groq,huggingface,ollama]
llm-code-executor
matplotlib
mcp
nest_asyncio
openai
pandas
pytest
pytest-asyncio
pytest-mock
python-dotenv
pyyaml
seaborn
sqlalchemy
structlog
websockets
